header nav .navbar-nav li.active a:after, footer article.aboutDetail h4:after, main #Section4AboutUs .carousel-item figure .overlay p:after, main #Section5AboutUs article h4:after, main #Section6AboutUs .title h4:after {
  content: " ";
  position: absolute;
  margin: -7px 0;
  width: 35px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #fbca03; }

main #Section2AboutUs article.title, main #Section4AboutUs article.title {
  padding-left: 3px;
  padding-right: 3px; }
  main #Section2AboutUs article.title p.subtitle, main #Section4AboutUs article.title p.subtitle {
    font-family: "Kaushan Script", cursive;
    font-size: 11px; }
  main #Section2AboutUs article.title h4, main #Section4AboutUs article.title h4 {
    font-family: "Raleway", sans-serif;
    position: relative; }
    main #Section2AboutUs article.title h4:after, main #Section4AboutUs article.title h4:after {
      content: " ";
      position: absolute;
      margin: 2px 0;
      width: 40px;
      bottom: -12px;
      left: 44%;
      border-top: 1px solid #fbca03;
      z-index: -1; }
  main #Section2AboutUs article.title p, main #Section4AboutUs article.title p {
    font-family: "Lato", sans-serif;
    font-size: 12px; }

main #Section4AboutUs .overlay figure, main #Section4AboutUs .carousel-item figure {
  position: relative; }
  main #Section4AboutUs .overlay figure img, main #Section4AboutUs .carousel-item figure img {
    width: 100%; }
  main #Section4AboutUs .overlay figure:hover .overlay, main #Section4AboutUs .carousel-item figure:hover .overlay {
    opacity: 0.8;
    transition-duration: 0.5s;
    cursor: pointer; }

main #Section4AboutUs .overlay, main #Section4AboutUs .carousel-item figure .overlay {
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

body {
  box-sizing: border-box; }

header nav {
  z-index: 999; }
  header nav .navbar-nav a {
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.61); }
    header nav .navbar-nav a:hover {
      color: #fbca03; }
  header nav .navbar-nav .dropdown-item {
    text-align: center; }
  header nav .navbar-nav .dropdown-menu {
    left: auto !important;
    right: 0 !important; }
  header nav .navbar-nav button.bg-white:hover {
    background-color: #fbca03 !important;
    transition-duration: 1s; }
  header nav .navbar-nav li.active a {
    color: #fbca03 !important;
    position: relative; }
    header nav .navbar-nav li.active a:after {
      width: 45px;
      bottom: 5px; }

main #Section1AboutUs {
  background-image: url(../../Dis/Images/contact/section-bg-10.jpg);
  background-size: cover;
  background-position: right;
  height: 270px;
  filter: brightness(102%); }
  main #Section1AboutUs article {
    position: absolute;
    height: 270px;
    left: 162px;
    color: #303133; }
    main #Section1AboutUs article p {
      font-family: "Kaushan Script", cursive; }
    main #Section1AboutUs article h1 {
      font-family: "Raleway", sans-serif; }

footer {
  background-color: #313234; }
  footer article.aboutDetail {
    color: #fefefe; }
    footer article.aboutDetail h4 {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      position: relative;
      margin-bottom: 22px; }
    footer article.aboutDetail p {
      font-size: 12px;
      font-family: "Lato", sans-serif; }
      footer article.aboutDetail p i {
        margin-right: 17px;
        font-size: 14px; }
        footer article.aboutDetail p i:hover {
          color: #fbca03;
          cursor: pointer;
          transition-duration: 0.5s; }
    footer article.aboutDetail table img {
      width: 60px;
      margin: 2px;
      cursor: pointer; }
    footer article.aboutDetail table.Aboutus img {
      width: 40px;
      margin: 7px;
      cursor: pointer; }
    footer article.aboutDetail table.Aboutus td {
      margin-left: 2px; }
      footer article.aboutDetail table.Aboutus td p {
        margin: 8px; }
        footer article.aboutDetail table.Aboutus td p:first-child {
          font-family: "Raleway", sans-serif;
          font-size: 10px;
          margin-top: -3px; }
        footer article.aboutDetail table.Aboutus td p:nth-child(2) {
          font-size: 9px; }
  footer .copy {
    height: 60px;
    background-color: #242424; }
    footer .copy p {
      margin: 0;
      font-size: 11px;
      font-family: "Raleway", sans-serif;
      color: gray; }
      footer .copy p span {
        color: #fbca03; }

main #Section1AboutUs {
  background-image: url("../../Dis/Images/aboutUs/section-bg-9.jpg"); }

main #Section2AboutUs article.title {
  display: inline-block; }

main #Section2AboutUs h6 {
  font-family: "Raleway", sans-serif; }

main #Section2AboutUs h4:after {
  border: 1px solid black !important; }

main #Section2AboutUs i {
  color: #fbca03;
  font-size: 28px; }

main #Section2AboutUs p {
  font-family: "Lato", sans-serif;
  font-size: 12px; }

main #Section2AboutUs .ii {
  color: #e0e7ef59;
  font-size: 81px !important;
  margin-left: 55px;
  top: 9px; }

main #Section3AboutUs {
  background-color: #fbca03; }
  main #Section3AboutUs article {
    font-family: "Raleway", sans-serif;
    top: 16px; }
    main #Section3AboutUs article p {
      text-align: center;
      font-size: 23px; }
      main #Section3AboutUs article p:first-child {
        font-size: 12px; }
  main #Section3AboutUs img {
    width: 75px;
    height: 77px; }

main #Section4AboutUs article.title {
  display: inline-block; }

main #Section4AboutUs h4:after {
  border-top: 1px solid black !important; }

main #Section4AboutUs .overlay p:after {
  left: 47% !important; }

main #Section4AboutUs .carousel-item img {
  width: 100%; }

main #Section4AboutUs .carousel-item article {
  text-align: center;
  margin-top: 15px; }
  main #Section4AboutUs .carousel-item article h6 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 16px; }
  main #Section4AboutUs .carousel-item article p {
    family: "Lato", sans-serif; }

main #Section4AboutUs .carousel-item figure .overlay {
  text-align: center; }
  main #Section4AboutUs .carousel-item figure .overlay p {
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: 12px; }
    main #Section4AboutUs .carousel-item figure .overlay p:after {
      bottom: -10px;
      left: 44%;
      border-top: 1px solid #000000; }
  main #Section4AboutUs .carousel-item figure .overlay i {
    font-size: 17px;
    margin-left: 22px; }
    main #Section4AboutUs .carousel-item figure .overlay i:hover {
      color: #fbca03; }

main #Section4AboutUs .carousel-control-prev {
  top: 34%;
  left: -81px;
  width: 50px;
  height: 40px;
  border: 1px solid #dedfd9; }
  main #Section4AboutUs .carousel-control-prev:hover {
    border: 1px solid #fbca03; }

main #Section4AboutUs .carousel-control-next {
  top: 34%;
  right: -53px;
  width: 50px;
  height: 40px;
  border: 1px solid #dedfd9; }
  main #Section4AboutUs .carousel-control-next:hover {
    border: 1px solid #fbca03; }

main #Section4AboutUs .carousel-control-prev-icon {
  background-image: url(../../Dis/Images/Icons/left.png);
  width: 20px;
  height: 12px; }

main #Section4AboutUs .carousel-control-next-icon {
  background-image: url(../../Dis/Images/Icons/right.png);
  width: 20px;
  height: 12px; }

main #Section5AboutUs {
  background-image: url(../../Dis/Images/aboutUs/section-bg-5.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  height: 400px; }
  main #Section5AboutUs .title {
    width: 400px;
    font-size: 13px; }
  main #Section5AboutUs article .subtitle {
    font-family: "Kaushan Script", cursive; }
  main #Section5AboutUs article h4, main #Section5AboutUs article h6 {
    font-family: "Raleway", sans-serif;
    position: relative; }
  main #Section5AboutUs article h4:after {
    bottom: -5px;
    left: 46% !important;
    border-top: 1px solid #000000; }
  main #Section5AboutUs article p {
    font-family: "Lato", sans-serif; }

main #Section6AboutUs img {
  width: 100%; }

main #Section6AboutUs .title h4 {
  font-family: "Raleway", sans-serif;
  position: relative; }
  main #Section6AboutUs .title h4:after {
    bottom: -5px;
    border-top: 1px solid #000000; }

main #Section6AboutUs .subtitle {
  font-family: "Kaushan Script", cursive; }

main #Section6AboutUs p {
  font-family: "Lato", sans-serif;
  font-size: 13px; }

main #Section6AboutUs .progress {
  height: 5px; }
