main #Section2Contact .SecForm .form button.shadow {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  width: 120px;
  font-family: "Raleway", sans-serif; }

main #Section2Contact .SecForm .form .btn-light:hover {
  background-color: #fbca03;
  transition-duration: 1s;
  cursor: pointer; }

header .navbar-nav li.active a:after, footer article.aboutDetail h4:after {
  content: " ";
  position: absolute;
  margin: -7px 0;
  width: 35px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #fbca03; }

main #Section2Contact article.title {
  padding-left: 3px;
  padding-right: 3px; }
  main #Section2Contact article.title p.subtitle {
    font-family: "Kaushan Script", cursive;
    font-size: 11px; }
  main #Section2Contact article.title h4 {
    font-family: "Raleway", sans-serif;
    position: relative; }
    main #Section2Contact article.title h4:after {
      content: " ";
      position: absolute;
      margin: 2px 0;
      width: 40px;
      bottom: -12px;
      left: 44%;
      border-top: 1px solid #fbca03;
      z-index: -1; }
  main #Section2Contact article.title p {
    font-family: "Lato", sans-serif;
    font-size: 12px; }

body {
  box-sizing: border-box; }

header {
  z-index: 999; }
  header .navbar-nav a {
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.61); }
    header .navbar-nav a:hover {
      color: #fbca03; }
  header .navbar-nav .dropdown-item {
    text-align: center; }
  header .navbar-nav .dropdown-menu {
    left: auto !important;
    right: 0 !important; }
  header .navbar-nav button.bg-white:hover {
    background-color: #fbca03 !important;
    transition-duration: 1s; }
  header .navbar-nav li.active a {
    color: #fbca03 !important;
    position: relative; }
    header .navbar-nav li.active a:after {
      width: 45px;
      bottom: 5px; }

header button.bg-white:hover {
  background-color: #fbca03 !important;
  transition-duration: 1s; }

header ul.ulNav {
  margin-bottom: 0;
  margin-top: 5px; }
  header ul.ulNav li {
    display: inline-block;
    margin-left: 12px;
    font-size: 17px;
    cursor: pointer; }
    header ul.ulNav li:first-child button {
      margin-top: -6px; }
    header ul.ulNav li .notify {
      background-color: #fbca03;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 13px;
      margin-left: -12px; }
    header ul.ulNav li:hover {
      color: #fbca03;
      transition-duration: 0.5s; }

main #Section1Contact {
  background-image: url(../../Dis/Images/contact/section-bg-10.jpg);
  background-size: cover;
  background-position: right;
  height: 270px;
  filter: brightness(102%); }
  main #Section1Contact article {
    position: absolute;
    height: 270px;
    left: 162px;
    color: #303133; }
    main #Section1Contact article p {
      font-family: "Kaushan Script", cursive; }
    main #Section1Contact article h1 {
      font-family: "Raleway", sans-serif; }

footer {
  background-color: #313234; }
  footer article.aboutDetail {
    color: #fefefe; }
    footer article.aboutDetail h4 {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      position: relative;
      margin-bottom: 22px; }
    footer article.aboutDetail p {
      font-size: 12px;
      font-family: "Lato", sans-serif; }
      footer article.aboutDetail p i {
        margin-right: 17px;
        font-size: 14px; }
        footer article.aboutDetail p i:hover {
          color: #fbca03;
          cursor: pointer;
          transition-duration: 0.5s; }
    footer article.aboutDetail table img {
      width: 60px;
      margin: 2px;
      cursor: pointer; }
    footer article.aboutDetail table.Aboutus img {
      width: 40px;
      margin: 7px;
      cursor: pointer; }
    footer article.aboutDetail table.Aboutus td {
      margin-left: 2px; }
      footer article.aboutDetail table.Aboutus td p {
        margin: 8px; }
        footer article.aboutDetail table.Aboutus td p:first-child {
          font-family: "Raleway", sans-serif;
          font-size: 10px;
          margin-top: -3px; }
        footer article.aboutDetail table.Aboutus td p:nth-child(2) {
          font-size: 9px; }
  footer .copy {
    height: 60px;
    background-color: #242424; }
    footer .copy p {
      margin: 0;
      font-size: 11px;
      font-family: "Raleway", sans-serif;
      color: gray; }
      footer .copy p span {
        color: #fbca03; }

main #Section1Contact {
  background-image: url(../../Dis/Images/contact/section-bg-10.jpg); }

main #Section2Contact {
  padding-bottom: 6rem; }
  main #Section2Contact .detail i {
    font-size: 2.5rem;
    padding-bottom: 24px; }
    main #Section2Contact .detail i:hover {
      color: #fbca03;
      cursor: pointer;
      transition-duration: 0.5s; }
  main #Section2Contact .SecForm {
    width: 55%; }
    main #Section2Contact .SecForm .form textarea {
      height: 190px;
      width: 100%; }
    main #Section2Contact .SecForm .form .form-control {
      border-radius: 0; }
      main #Section2Contact .SecForm .form .form-control:focus {
        border-color: #fbca03;
        box-shadow: 0 0 2px #fbca03; }

main #Section3Contact #map {
  height: 350px;
  width: 100%; }
